/* Extra large devices (e.g., large desktops, min-width 1200px) */
@media (min-width: 1200px) {
    /* CSS rules for extra large screens */
  }
  
  /* Large devices (e.g., laptops, min-width 992px) */
  @media (min-width: 992px) and (max-width: 1199px) {
    
  }
  
  /* Medium devices (e.g., tablets, min-width 768px) */
  @media (min-width: 768px) and (max-width: 991px) {
    .ptb--120 {
        padding: 90px 0;
    }
    .pt--120 {
        padding-top: 90px;
    }
    .pb--120 {
        padding-bottom: 90px;
    }
    .pb--100 {
        padding-bottom: 70px;
    }
    .pb--80 {
        padding-bottom: 50px;
    }
    .pb--70 {
        padding-bottom: 50px;
    }
    .header-top{
        display: none;
    }
    .hd-btn{
        display: none;
    }
    .header-bottom,
    .sticky-header.header-bottom {
        position: absolute;
        top: auto;
    }
    .logo {
        margin: 20px 0;
    }
    .logo a{
        width: 20%;
    }
    .footer-social{
        display: flex;
    }
    .footer-social ul{
        margin-left: -10px;
    }
    .footer-social ul li{
        margin-top: 0px;
    }

  }
  
  /* Small devices (e.g., landscape phones, min-width 576px) */
  @media (min-width: 576px) and (max-width: 767px) {
    .ptb--120 {
        padding: 80px 0;
    }
    .pt--120 {
        padding-top: 80px;
    }
    .pb--120 {
        padding-bottom: 80px;
    }
    .pb--100 {
        padding-bottom: 60px;
    }
    .pb--80{
        padding-bottom: 50px;
    }
    .pb--70 {
        padding-bottom: 40px;
    }
    .pb--60 {
        padding-bottom: 30px;
    }
    .sidebar {
        margin-top: 80px;
    }
    .widget-title {
        margin-bottom: 35px;
    }
    .header-top{
        display: none;
    }
    .hd-btn{
        display: none;
    }
    .header-bottom,
    .sticky-header.header-bottom {
        position: absolute;
        top: auto;
    }
    .logo {
        margin: 20px 0;
    }
    .logo a{
        width: 20%;
    }
    .certificate-img{
        display: inline-block;
    }
  }
  
  /* Extra small devices (e.g., portrait phones, max-width 575px) */
  @media (max-width: 575px) {
    .header-top{
        display: none;
    }
    .hd-btn{
        display: none;
    }
    .pb--80{
        padding-bottom: 40px;
    }
    .offset-search input {
        width: 255px;
    }
    .logo {
        margin: 20px 0;
    }
    .logo a{
        width: 20%;
    }
    .header-bottom,
    .sticky-header.header-bottom {
        position: absolute;
        top: auto;
    }
    .header-bottom-inner {
        border: none;
    }
    .section-title h2{
        font-size: 24px !important;
        padding-bottom: 30px !important;
        padding: 0px 20px;
    }
    .section-title p{
        padding: 0px 10px !important;
    }
    /*============================================
        Hero Section
    *=============================================*/
    .hero{
        background:linear-gradient(0deg, rgba(93, 65, 255, 0.658), rgba(18, 0, 61, 0.658)), url(../images/Hero-img.png);
        background-size:cover;
        background-repeat: no-repeat;
    }
    .hero-content h2{
        font-size: 28px;
        padding-bottom: 10px;
    }
    /*============================================
      Hero Section End
    *=============================================*/
    .glance{
        background-image: linear-gradient(#150B5E, #040027);
        padding: 250px 0px;
        margin-top: -200px;
        padding-bottom: -0px !important;
    }
    .dsl-glance h2{
        margin-top: -150px;
    }
    /*=== Premium Software ==*/
    .premium-software {
        padding: 50px 10px;
    }
    .premium-software::before {
        left: 0%;
        border-radius: 90% 0 0 0%;
    }
    .service-fotter-left h2{
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 20px;
    }
    /*=== Mobile App Development section ====*/
    .mobile-app-card{
        padding: 20px 15px;
        border-radius: 10px;
        margin-right: 0px;
        margin-top: 30px;
    }
  /*============================================
      Technologies End
  *=============================================*/
    .certificate-img{
        display: inline-block;
    }
    .footer-social{
        display: inline-block;
    }
    .footer-social ul{
        margin-left: -30px;
    }
    .footer-social ul li{
        margin-top: 20px;
    }
    .footer-social ul li{
        margin-right: 0px !important;
    }
    .footer-social ul li a{
        font-size: 16px;
    }
    .footer-copyright{
        display: inline-block;
        text-align: center;
        padding: 5px;
    }
}