/* Extra large devices (e.g., large desktops, min-width 1200px) */
@media (min-width: 1200px) {
    /* CSS rules for extra large screens */
  }
  
  /* Large devices (e.g., laptops, min-width 992px) */
  @media (min-width: 992px) and (max-width: 1199px) {
    .ptb--120 {
        padding: 100px 0;
    }
    .pt--120 {
        padding-top: 100px;
    }
    .pb--120 {
        padding-bottom: 100px;
    }
    .pb--100 {
        padding-bottom: 80px;
    }
    .pb--80 {
        padding-bottom: 60px;
    }
    .pb--70 {
        padding-bottom: 60px;
    }
    .logo {
        margin: 20px 0;
    }
    .logo a{
        width: 20%;
    }
  }
  
  /* Medium devices (e.g., tablets, min-width 768px) */
  @media (min-width: 768px) and (max-width: 991px) {
    .ptb--120 {
        padding: 90px 0;
    }
    .pt--120 {
        padding-top: 90px;
    }
    .pb--120 {
        padding-bottom: 90px;
    }
    .pb--100 {
        padding-bottom: 70px;
    }
    .pb--80 {
        padding-bottom: 50px;
    }
    .pb--70 {
        padding-bottom: 50px;
    }
    .logo {
        margin: 20px 0;
    }
    .logo a{
        width: 20%;
    }
  }
  
  /* Small devices (e.g., landscape phones, min-width 576px) */
  @media (min-width: 576px) and (max-width: 767px) {
    .hero-content h1,
    .slider-content h1{
        font-size: 22px;
        line-height: 32px;
    }
    .hero-content h3,
    .slider-content h3{
        font-size: 18px;
    }
    .hb-right ul li{
        text-align: left;
    }
    .middle-logo {
        display: none!important;
    }
    .ptb--120 {
        padding: 80px 0;
    }
    .pt--120 {
        padding-top: 80px;
    }
    .pb--120 {
        padding-bottom: 80px;
    }
    .pb--100 {
        padding-bottom: 60px;
    }
    .pb--80{
        padding-bottom: 50px;
    }
    .pb--70 {
        padding-bottom: 40px;
    }
    .pb--60 {
        padding-bottom: 30px;
    }
    .sidebar {
        margin-top: 80px;
    }
    .widget-title {
        margin-bottom: 35px;
    }
    .logo {
        margin: 20px 0;
    }
    .logo a{
        width: 20%;
    }
  }
  
  /* Extra small devices (e.g., portrait phones, max-width 575px) */
  @media (max-width: 575px) {
    .header-top{
        display: none;
    }
    .hd-btn{
        display: none;
    }
    .pb--80{
        padding-bottom: 40px;
    }
    .offset-search input {
        width: 255px;
    }
    .logo {
        margin: 20px 0;
    }
    .logo a{
        width: 20%;
    }
    .header-bottom,
    .sticky-header.header-bottom {
        position: absolute;
        top: auto;
    }
    .header-bottom-inner {
        border: none;
    }


    /*============================================
    Hero Section
*=============================================*/
.hero{
    background:linear-gradient(0deg, rgba(19, 0, 122, 0.658), rgba(29, 0, 95, 0.658)), url(../images/Hero-img.png);
    background-size:cover;
    background-repeat: no-repeat;
  }
  .hero-content{
    padding-top: 200px;
    text-align: left !important;
    min-height: 825px;
  }
  .hero-content p{
    color: white;
    padding-bottom: 10px;
  }
  .hero-content h2{
    color: white;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 10px;
  }
  .hero-content .btn a{
    color: white;
  }
  /*============================================
      Hero Section End
  *=============================================*/
  .certificate-img {
    display: inline-block;
  }
  .footer-social{
    display: inline-block;
  }
}